<% if @search.errors.any? %>
  <% @search.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit search #<%= @search.id %>
</h1>

<hr>

<form action="/update_search/<%= @search.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @search.user_id %>">
  </div>

  <div class="form-group">
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" class="form-control" value="<%= @search.city %>">
  </div>

  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <input type="text" id="start_date" name="start_date" class="form-control" value="<%= @search.start_date %>">
  </div>

  <div class="form-group">
    <label for="end_date">
      End date
    </label>

    <input type="text" id="end_date" name="end_date" class="form-control" value="<%= @search.end_date %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update search
  </button>
</form>

<hr>

<a href="/searches">
  Go back
</a>
