<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All searches
    </h1>

    <a href="/searches/new" class="btn btn-block btn-outline-secondary">
      Add a new search
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "search_templates/searches_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          City
        </th>

        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @searches.each do |search| %>
      <tr>
        <td>
          <%= search.id %>
        </td>

        <td>
          <%= search.user_id %>
        </td>

        <td>
          <%= search.city %>
        </td>

        <td>
          <%= search.start_date %>
        </td>

        <td>
          <%= search.end_date %>
        </td>

        <td>
          <%= time_ago_in_words(search.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(search.updated_at) %> ago
        </td>

        <td>
          <a href="/searches/<%= search.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @searches, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
